@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Open+Sans:wght@400;600');


@layer components {
  .page {
    @apply max-w-[100%] flex flex-col px-[50px] py-[40px];
  }
  /* titles */
  .title-1 {
    @apply font-bold text-[36px];
  }

  .save{
    @apply bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none;
  }
  .cancel {
    @apply bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded focus:outline-none;
  }


}

@layer base {
  body {
      @apply font-opensans bg-slate-400;
  }
}

:root {
  /* colors */
  --default-color: #202020;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 276px;
  /* height: 359px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
  background: #FFFFFF;
}

.info-text{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--default-color);
}

.create-btn{
  width: 181px;
  height: 68px;
  background: #6418C3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
}




/* Стилі для форми */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 500px;
}


.title-form {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.label-form {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
}

.form-input:focus {
  outline: none;
  border: 2px solid blue;
}

